.manage-spots {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.manage-spot {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #4c4b4b27;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    z-index: 2;

}

.manage-spot:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.05);
}

.manage-spot .location {
    font-size: 18px;
    color: #454444;
    position: relative;
}


.manage-spot .star-icon {
    color: black;
    margin-right: 5px;
    font-size: 15px;
}

.manage-spots-heading {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 120px;
    margin-left: 50px;
    z-index: 9999;
    width: 1000px;

    background-color: transparent;

    border-radius: 50px;
}

.manage-spots-title {
    padding-left: 5px;
    font-weight: 500;
}


.spot-img {
    width: 300px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.manage-spots-img1 {
    height: 270px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.manage-spots-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.manage-spots-price {
    position: relative;
    top: 20px;
    padding-left: 5px;
}


.manage-spot:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.05);
}

.location-stars-price {
    height: 30px;
}

.update-delete-btn {
    width: 50%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.update-delete-btn:hover {
    background-color: #ff3385;
    transition: all .2s ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.269);
}

.create-spot-btn.manage {
    width: 155px;
    height: 50px;
}
