.post-review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.heading {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: #222;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    max-height: 100%;
}

.post-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

.review-desc {
    width: 100%;
    height: 8rem;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: #444;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.review-desc:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 192, 203, 0.7);
}

.star-rating {
    display: flex;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    color: #444;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 2rem;
}

.star-rating-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 180px;
}

.star-rating:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 192, 203, 0.7);
}

.star-rating span {
    margin: 0 0.5rem;
    cursor: pointer;
    background-color: transparent;
}

.star-rating-container h3 {
    font-size: 28px;
    margin: none;
    padding: none;
    background-color: transparent;
}

.star-label {
    background-color: transparent;
}

.star-rating span.filled {
    color: #ff3385;
    font-size: 40px;
}


.star-rating input:checked~label {
    font-size: 2rem;
}

.errors {
    list-style: none;
    color: #ff0000;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.errors li {
    margin: 0.5rem 0;
}

.review-btn {
    margin-top: 2rem;
    width: 300px;
    height: 3rem;
    border: none;
    border-radius: 5px;
    background-color: #ff3385;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.review-btn:hover {
    background-color: #ff3385b0;
    transform: scale(1.02);
    transition: background-color 0.1s ease-in-out;
}

@media screen and (max-width: 768px) {
    .create-review-form {
        width: 80%;
    }
}
