.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: none;
}

.signup-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.signup-btn {
    background-color: transparent;
    border: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: all .4s ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.269);
    padding: 10px 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 20%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.signup-btn:focus,
.signup-btn:hover {
    background-color: #ff3385;
    transition: all .2s ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.269);
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.error-li {
    font-size: 14px;
    color: #e91e63;
}

.err-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
