.spot-details-container {
    position: relative;
    margin-top: 90px;
    border-top: 1px solid rgba(81, 81, 81, 0.207);
    z-index: 2;
}

.preview-image {
    border-radius: 4px;
    max-height: 600px;
    max-width: 500px;
}

.other-image {
    border-radius: 4px;
}

.spot-details {
    padding-top: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.spot-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr) auto;
    /* add a new row for the spot description */
    grid-column-gap: 10px;
    margin-bottom: 0px;
}

.spot-images {
    grid-column: 1 / span 2;
    grid-row: 1 / span 5;
    /* adjust grid row to span 5 rows instead of 4 */
}

.preview-image {
    width: 100%;
    height: auto;
    grid-row: 1 / span 5;
    /* adjust grid row to span 5 rows instead of 4 */
    grid-column: 1 / span 2;
}

.other-images-grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-column: 3 / span 2;
    grid-row: 1 / span 4;
}

.spot-description {
    flex-grow: 1;
    margin-left: 10px;
}

.hosted-by {
    margin-left: 10px;
    margin-top: none;
}

.other-image {
    width: 100%;
    height: auto;
}

.spot-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    /* margin-bottom: 5px; */
}

.spot-stars-new {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 120px;
    width: 40%;
    /* margin-bottom: 5px; */
}

.spot-details h1 {
    font-size: 36px;
    margin: 0;
}

.spot-location {
    font-size: 20px;
    margin-top: 10px;
}

.spot-images {
    margin-top: 20px;
}

.spot-images img {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 10px;
}

.spot-description {
    max-width: 50%;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-right: 20px;
}

.spot-price-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.spot-price {
    margin-right: 5px;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
}

.spot-reserve {
    margin-top: 20px;
}

.reserve-btn {
    font-size: 18px;
    padding: 10px 20px;
    color: #000000;
    background-color: #ff3385;
    border-radius: 5px;
    cursor: pointer;
    max-width: 400px;
}

.reserve-btn:hover {
    box-sizing: border-box;
    box-shadow: 10px solid black;
    background-color: #ff3385c6;
    transition: all .2s ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.269);
}

.review-logo {
    height: 25px;
    width: 25px;
    padding-top: 10px
}

.reservation-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;

}

.description-container {
    display: flex;
    margin-bottom: 20px;
}

.dot {
    font-size: 10px;
    color: rgb(109, 107, 105);
}

.stars-reviews-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.reservation-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 500px;
    margin-left: 40px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    max-height: 180px;
    transition: all 0.3s ease-in-out;
}

.reservation-box:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.05);
}

.reservation-box .reserve-btn {
    width: 100%;
}

.white-space {
    width: 1%
}


/* media queries */
@media only screen and (max-width: 768px) {
    .grid-container {
        display: block;
        margin-bottom: 100px;
    }

    .spot-images {
        grid-column: 1 / span 2;
        grid-row: 1;
        /* change grid row to 1 instead of 5 */
    }

    .preview-image {
        width: 100%;
        height: auto;
        grid-row: 1;
        /* change grid row to 1 instead of 5 */
        grid-column: 1 / span 2;
    }

    .other-images-grid {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .spot-description {
        max-width: 100%;
        margin-top: 20px;
    }

    .reservation-container {
        margin-top: 100px;
    }

    .reservation-box {
        margin-left: 20px;
        max-width: 100%;
        flex-shrink: 1;
    }
}
